Repository IATI/pyIATI, pull requests merged in 2018-03, with the labels that each got.

#280 Version fixture migration
  .pylintrc
  CHANGELOG.md
  iati/constants.py
  iati/data.py
  iati/default.py
  iati/resources.py
  iati/schemas.py
  iati/tests/conftest.py
  iati/tests/fixtures/__init__.py
  iati/tests/fixtures/comparison.py
  iati/tests/fixtures/versions.py
  iati/tests/test_constants.py
  iati/tests/test_data.py
  iati/tests/test_default.py
  iati/tests/test_resources.py
  iati/tests/test_rulesets.py
  iati/tests/test_schemas.py
  iati/tests/test_utilities.py
  iati/tests/test_version.py
  iati/utilities.py
  iati/validator.py
  iati/version.py
Labels: complete, enhancement, versions

#286 Separate testing of `bytes` and `str` type values for Python 3+
  CHANGELOG.md
  iati/data.py
  iati/tests/test_data.py
  iati/tests/test_utilities.py
  iati/tests/test_validator.py
  iati/tests/utilities.py
  iati/utilities.py
  iati/validator.py
Labels: code-features, complete, enhancement, tests

#284 More thoroughly test a version filtering decorator
  CHANGELOG.md
  iati/data.py
  iati/tests/fixtures/versions.py
  iati/tests/test_data.py
  iati/tests/test_utilities.py
  iati/tests/test_validator.py
  iati/tests/test_version.py
  iati/tests/utilities.py
  iati/utilities.py
  iati/validator.py
  iati/version.py
Labels: bug-fixes, complete, versions

#281 Change constant meaning 'version independent' to not None
  CHANGELOG.md
  iati/resources.py
  iati/tests/fixtures/versions.py
  iati/tests/resources.py
  iati/tests/test_resources.py
  iati/tests/test_version.py
  iati/version.py
Labels: api, code-features, complete, enhancement, versions

#288 Mark functions to update when adding a new version
  CHANGELOG.md
  iati/tests/conftest.py
  iati/tests/test_default.py
  iati/tests/test_resources.py
  iati/tests/test_version.py
  setup.cfg
Labels: complete, tests, versions

#290 Change TODOs about fixed versions to marks
  iati/tests/conftest.py
  iati/tests/test_codelists.py
  iati/tests/test_data.py
  iati/tests/test_default.py
  iati/tests/test_rulesets.py
  iati/tests/test_schemas.py
  iati/tests/test_utilities.py
  iati/tests/test_validator.py
  iati/tests/utilities.py
  setup.cfg
Labels: code-features, complete, tests, versions

#291 Stop code in the validator module being fixed to 2.02
  CHANGELOG.md
  iati/validator.py
Labels: bug-fixes, complete, validation, versions

#292 Make the docs generate
  .gitignore
  .travis.yml
  CHANGELOG.md
  docs/source/index.rst
  iati/tests/test_rulesets.py
  iati/tests/test_version.py
  iati/utilities.py
Labels: bug-fixes, complete, docs

#282 Integrate version class
  iati/version.py
Labels: api, complete, versions

#212 Add a RELEASING document
  RELEASING.md
Labels: complete, docs, repo-management

#296 Integrate dev without initial 2.03 implementation
  .travis.yml
  CHANGELOG.md
  RELEASING.md
  docs/source/conf.py
  iati/resources/lib_data/validation_err_codes.yaml
  iati/tests/test_data.py
  iati/tests/test_validator.py
  iati/tests/utilities.py
  iati/validator.py
  requirements-dev.txt
  setup.cfg
  setup.py
Labels: complete, repo-management

#305 Fixes blank line contains whitespace linting error
  iati/version.py
Labels: complete, lintin'

#273 Add class to represent Standard Versions
  CHANGELOG.md
  LICENSES-3RD-PARTY.txt
  iati/__init__.py
  iati/tests/test_version.py
  iati/version.py
  setup.py
Labels: complete, missing-feature, standard-support, versions

#297 Refactor resources tests - integrate versions and improve test coverage
  CHANGELOG.md
  iati/default.py
  iati/resources.py
  iati/resources/standard/version_independent/rulesets/ruleset_for_tests.json
  iati/resources/standard/version_independent/rulesets/ruleset_schema.json
  iati/resources/test_data/version_independent/dataset-encoding/valid-UTF-16.xml
  iati/resources/test_data/version_independent/dataset-encoding/valid-UTF-16BE.xml
  iati/resources/test_data/version_independent/dataset-encoding/valid-UTF-16LE.xml
  iati/resources/test_data/version_independent/dataset-encoding/valid-UTF-32.xml
  iati/resources/test_data/version_independent/dataset-encoding/valid-UTF-8.xml
  iati/resources/test_data/version_independent/dataset-encoding/valid-undetectable-encoding.xml
  iati/resources/test_data/version_independent/dataset-encoding/valid-windows-1252.xml
  iati/resources/test_data/version_independent/dataset-encoding/valid.xml
  iati/resources/test_data/version_independent/invalid.xml
  iati/resources/test_data/version_independent/leading_whitespace_xml.xml
  iati/resources/test_data/version_independent/ruleset/invalid_atleastone.xml
  iati/resources/test_data/version_independent/ruleset/invalid_dateorder.xml
  iati/resources/test_data/version_independent/ruleset/invalid_dependent.xml
  iati/resources/test_data/version_independent/ruleset/invalid_format_dateorder.xml
  iati/resources/test_data/version_independent/ruleset/invalid_nomorethanone.xml
  iati/resources/test_data/version_independent/ruleset/invalid_regexmatches.xml
  iati/resources/test_data/version_independent/ruleset/invalid_regexnomatches.xml
  iati/resources/test_data/version_independent/ruleset/invalid_startswith.xml
  iati/resources/test_data/version_independent/ruleset/invalid_sum.xml
  iati/resources/test_data/version_independent/ruleset/invalid_unique.xml
  iati/resources/test_data/version_independent/ruleset/valid_atleastone.xml
  iati/resources/test_data/version_independent/ruleset/valid_dateorder.xml
  iati/resources/test_data/version_independent/ruleset/valid_dependent.xml
  iati/resources/test_data/version_independent/ruleset/valid_nomorethanone.xml
  iati/resources/test_data/version_independent/ruleset/valid_regexmatches.xml
  iati/resources/test_data/version_independent/ruleset/valid_regexnomatches.xml
  iati/resources/test_data/version_independent/ruleset/valid_startswith.xml
  iati/resources/test_data/version_independent/ruleset/valid_sum.xml
  iati/resources/test_data/version_independent/ruleset/valid_unique.xml
  iati/resources/test_data/version_independent/valid.xml
  iati/resources/test_data/version_independent/valid_not_iati.xml
  iati/tests/conftest.py
  iati/tests/fixtures/filepaths.py
  iati/tests/fixtures/versions.py
  iati/tests/test_resources.py
  iati/tests/test_version.py
  iati/tests/utilities.py
  iati/version.py
Labels: complete, enhancement, resources, tests, versions

#309 Remove python 3.4 support
  .travis.yml
  CHANGELOG.md
  iati/resources.py
  setup.py
Labels: code-features, complete, repo-management, tests

#311 Remove python 2.7 support
  .travis.yml
  CHANGELOG.md
  iati/codelists.py
  iati/data.py
  iati/resources.py
  iati/resources/lib_data/validation_err_codes.yaml
  iati/rulesets.py
  iati/schemas.py
  iati/tests/fixtures/filepaths.py
  iati/tests/resources.py
  iati/tests/test_codelists.py
  iati/tests/test_constants.py
  iati/tests/test_data.py
  iati/tests/test_default.py
  iati/tests/test_resources.py
  iati/tests/test_rulesets.py
  iati/tests/test_schemas.py
  iati/tests/test_test.py
  iati/tests/test_utilities.py
  iati/tests/test_validator.py
  iati/tests/test_version.py
  iati/tests/utilities.py
  iati/utilities.py
  iati/validator.py
  requirements-dev.txt
  setup.py
Labels: code-features, complete, repo-management, tests

#310 requirements-dev.txt -> requirements_dev.txt
  .travis.yml
  README.md
  requirements_dev.txt
Labels: complete, repo-management
